#noscript-message {
    width: 250px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 100;
   
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}